<!-- Breadcrumbs-->
<div class="row justify-content-center">
    <div class="container col-md-10">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a routerLink="">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a routerLink="/admin">Painel Administrativo</a>
            </li>
            <li class="breadcrumb-item active">Gerenciar Usuários</li>
        </ol>
    </div>
</div>


<div class="row justify-content-center">
    <div class="container col-md-10">

        <div class="card mb-3">
            <div class="card-header">
                <h4> Gerenciar Usuários</h4>
            </div>
            <div class="card-body">
                <div *ngIf="success" class="alert alert-success alert-dismissible fade show" role="alert">
                    <button type="button" class="close" (click)="closeAlert()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <b>{{successMessage}}</b>
                </div>
                <div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close" (click)="closeAlert()" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <b>{{errorMessage}}</b>
                </div>
                <div class="row" id="filters-body">
                    <div class="col-md-8">
                        Filtros
                    </div>
                    <div class="col-md-4 text-right">
                        <button class="btn btn-primary" routerLink="/admin/usuarios/novo">
                            <i class="fas fa-plus"></i> Adicionar Usuário
                        </button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Sobrenome</th>
                                <th>E-mail</th>
                                <th>Nome de usuário</th>
                                <th>Permissões</th>
                                <th>Status</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="users.length != 0">
                            <tr *ngFor="let user of users">
                                <td>{{user.first_name}}</td>
                                <td>{{user.last_name}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.username}}</td>
                                <td>
                                    <span *ngIf="user.is_admin">
                                        Administrador,
                                    </span>
                                    <span *ngIf="user.is_demand_manager">
                                        Gestor de Demandas,
                                    </span>
                                    <span *ngIf="user.is_project_manager">
                                        Gestor de Projetos
                                    </span>
                                </td>
                                <td>
                                    <span *ngIf="user.is_active">
                                        Ativo
                                    </span>
                                    <span class="deleted" *ngIf="!user.is_active">
                                        <app-active-user [userId]="user.id" [username]="user.username"
                                            (confirm)="setAlert($event.alertType, $event.message)">
                                        </app-active-user>

                                        <a href="#" class="text-danger" data-toggle="modal"
                                            [attr.data-target]="'#active-'.concat(user.id)">Excluído</a>
                                    </span>
                                </td>
                                <td>

                                    <app-delete-user [userId]="user.id" [username]="user.username"
                                        (confirm)="setAlert($event.alertType, $event.message)">
                                    </app-delete-user>

                                    <!-- <app-update-user [userId]="user.id" [username]="user.username"
                                        (confirm)="setAlert($event.alertType, $event.message)">
                                    </app-update-user> -->

                                    <button class="btn btn-primary btn-sm btn-action" data-toggle="modal"
                                    [attr.data-target]="'#update-'.concat(user.id)">
                                        <i class="fa fa-pen"></i>
                                    </button>

                                    <button class="btn btn-danger btn-sm btn-action" data-toggle="modal"
                                    [attr.data-target]="'#delete-'.concat(user.id)">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="users.length == 0">
                            <tr>
                                <td colspan="7">
                                    <h1 class="text-center">Nenhum usuário encontrado!</h1>
                                </td>
                            </tr>
                        <tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>