<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="container col-md-4" id="login-container">
                <div class="container">
                    <div class="card card-container">
                        <ngx-spinner [fullScreen]="false" type="ball-spin-clockwise-fade"
                            bdColor="rgba(240,240,240,0.8)" color="#0275d8">
                        </ngx-spinner>
                        <img id="profile-img" class="profile-img-card" src="../../../../assets/images/ufca-logo.svg" />
                        <form #userForm="ngForm" (ngSubmit)="login()">
                            <span class="error" *ngIf="error">
                                {{ error?.error | json }}
                            </span>

                            <mat-form-field class="example-full-width">
                                <input type="text" id="username" matInput placeholder="Nome de usuário" id="username" name="username" required autofocus [(ngModel)]="user.username" #username="ngModel" pattern="^[a-zA-Z0-9_.]+$" minlength="4" maxlength="16">
                            </mat-form-field>
                            <div [hidden]="username.valid || username.pristine" class="text-danger">
                                Este campo é obrigatório!
                            </div>

                            <mat-form-field class="example-full-width">
                                <input type="password" id="password" matInput placeholder="Senha" name="password" required [(ngModel)]="user.password" #password="ngModel">
                            </mat-form-field>
                            <div [hidden]="password.valid || password.pristine" class="text-danger">
                                Este campo é obrigatório!
                            </div>
                            <input class="btn btn-primary btn-block" name="btn-login" id="btn-login"
                                [disabled]="!userForm.form.valid" (click)="login()" value="Entrar" type="submit" />
                        </form>
                        <a href="#">
                            Esqueceu a senha?
                        </a>
                        <a target="_blank" href="https://atendimento.ufca.edu.br/">
                            Não tem um usuário?
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>