<div class="container">
  <div class="card card-container">
      <img id="profile-img" class="profile-img-card" src="../../../../assets/images/ufca-logo.svg" />
      <div class="form-group" class="alert alert-danger" *ngIf="errors" >
        <p>{{ errors?.message }}</p>
        <hr>
        <p>{{ errors?.error | json }}</p>
      </div>
      <form class="form-signin">
          <span id="reauth-email" class="reauth-email"></span>
          <input type="text" id="inputEmail" class="form-control" placeholder="Nome de usuário" required autofocus #username>
          <input type="password" id="inputPassword" class="form-control" placeholder="Senha" #password required>
          <input class="btn btn-lg btn-primary btn-block btn-signin" (click)="login(username.value, password.value)" value="Entrar" type="submit"/>
      </form>
      <a href="#" class="forgot-password">
          Esqueceu a senha?
      </a>
      <a target="_blank" href="https://atendimento.ufca.edu.br/" class="forgot-password">
        Não tem um usuário?
      </a>
  </div>
</div>