<div class="main-content">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center">Página Inicial Temporária</h2>
                    <br/>
                    <p class="text-center">1. Faça login no botão <span class="text-primary"><b>"Login"</b></span> no canto superior direito.</p>
                    <p class="text-center">2. Apos fazer login click no seu nome de usuário no canto superior direito.</p>
                    <p class="text-center">3. Selecione a opção <span class="text-primary"><b>"Painel Administrativo"</b></span>.</p>
                    <p class="text-center">4. Na proxima página selecione a opção <span class="text-primary"><b>"Gerenciar Usuários"</b></span>.</p>
                </div>
            </div>
        </div>
    </div>
</div>