<div class="logo">
    <a class="simple-text">
        <img id="ufc-logo" src="../../../../assets/images/ufca-logo.svg" />

    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p><b>{{menuItem.title}}</b></p>
            </a>
        </li>
    </ul>
</div>