<ngx-loading-bar [includeSpinner]="false" color="orange"></ngx-loading-bar>

<div class="wrapper">
    <div [hidden]="isLoginPage" class="sidebar" data-color="orange">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(../../../assets/images/sidebar-3.jpg)"></div>
    </div>
    <div [ngClass]="{'main-panel': !isLoginPage}">
        <app-navbar [hidden]="isLoginPage"></app-navbar>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </div>
</div>