#ufca-logo {
    width: 140px;
    height: 75px;
}


/*Formatação menu*/

ul#menus {
    list-style: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 125%;
    font-weight: bold;
}

ul#menus li {
    display: inline-block;
    transition: background-color 1s;
}

ul#menus a:hover {
    color: #F2A007;
}


/*Formatação User Information*/

ul#NavItem {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

ul#NavItem a:hover {
    color: #F2A007;
}

nav#menu {
    background-color: #73544C;
}

ul#NavItem a:focus {
    color: #F2A007;
}
