<header>
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-toggleable-md navbar-expand-lg double-nav">
        <!-- SideNav slide-out button -->
        <div class="float-left">
            <a routerLink="/" class="simple-text">
                <img routerLink="/" class="navbar-brand mr-1" id="ufca-logo" src="../../../../assets/images/ufca-logo.png"
                alt="logo ufca">
            </a>
        </div>
        <ul class="nav navbar-nav nav-flex-icons ml-auto">
            <li [hidden]="jwtService.isLoggedOut" class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline">{{user.username}}</span>
                    <i class="fas fa-user fa-lg"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                    <a class="dropdown-item" routerLink="/">
                        <i class="fas fa-user-cog fa-sm fa-fw mr-2 text-gray-400"></i> Dados Pessoais
                    </a>
                    <a class="dropdown-item" routerLink="/admin">
                        <i class="fas fa-chart-area fa-sm fa-fw mr-2 text-gray-400"></i> Painel Administrativo
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="/" (click)="jwtService.logout()">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Sair
                    </a>
                </div>
            </li>
            <li class="nav-item" [hidden]="jwtService.isLogged" routerLink="/login">
                <button class="btn btn-primary btn-login">
                    <b>Login</b>
                </button>
            </li>
        </ul>
    </nav>
    <!-- /.Navbar -->
</header>
<div id="breakline"></div>