<div class="modal fade" tabindex="-1" role="dialog" [id]="'active-' + userId" tabindex="-1" role="dialog"
    aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <ngx-spinner [fullScreen]="false" type="ball-spin-clockwise-fade"
            bdColor="rgba(240,240,240,0.8)" color="#0275d8" [name]="'active-user-spinner-' + userId">
            </ngx-spinner>
            <div class="modal-header">
                <h5 class="modal-title">Ativar Usuário</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p class="text-center">{{ error.error | json }}</p>
                </div>
                <p><strong>Você tem certeza que deseja ativar o usuário <span class="text-primary">"{{username}}"</span>
                        ?</strong></p>
                <p class="modal-description">Ao ativar este usuário ele poderá se logar no sistema novamente.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="activeUser(userId)">Ativar</button>
            </div>
        </div>
    </div>
</div>