<div class="modal fade" tabindex="-1" role="dialog" [id]="'update-' + userId" tabindex="-1" role="dialog"
    aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document" id="modal">
        <div class="modal-content">
            <ngx-spinner [fullScreen]="false" type="ball-spin-clockwise-fade" bdColor="rgba(240,240,240,0.8)"
                color="#0275d8" [name]="'update-user-spinner-' + userId">
            </ngx-spinner>
            <div class="modal-header">
                <h5 class="modal-title">Atualizar Usuário</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf="error" class="form-group alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p class="text-center">{{ error.error | json }}</p>
                </div>
                <div class="text-danger text-center form-group">
                    Os campos com asterisco (*) são obrigatórios!
                </div>
                <form #userFormUpdate="ngForm" (ngSubmit)="updateUser()" id="update-user-form">
                    <div class="form-group row">
                        <label for="first_name" class="col-md-4 col-form-label text-md-right">
                            Nome <b class="text-danger">*</b>
                        </label>
                        <div class="col-md-6">
                            <input type="text" id="first_name" class="form-control"
                                placeholder="Primeiro nome do usuário" required [(ngModel)]="user.first_name"
                                name="first_name" #first_name="ngModel">
                            <div [hidden]="first_name.valid || first_name.pristine"
                                class="error-validation text-danger">
                                Este campo é obrigatório!
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="last_name" class="col-md-4 col-form-label text-md-right">
                            Sobrenome
                        </label>
                        <div class="col-md-6">
                            <input type="text" id="last_name" class="form-control" name="last_name"
                                placeholder="Sobrenome do usuário" [(ngModel)]="user.last_name" #last_name="ngModel">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="email" class="col-md-4 col-form-label text-md-right">
                            E-Mail <b class="text-danger">*</b>
                        </label>
                        <div class="col-md-6">
                            <input type="email" id="email" class="form-control" name="email"
                                placeholder="E-mail do usuário" required
                                pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9]+$" [(ngModel)]="user.email"
                                #email="ngModel">
                            <div [hidden]="email.valid || email.pristine"
                                class=" error-validation text-danger text-left">
                                <div class="error-validation" *ngIf="!!email.errors?.required">
                                    Este campo é obrigatório!
                                </div>
                                <div class="error-validation" *ngIf="!!email.errors?.pattern">
                                    E-Mail inválido!
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="username" class="col-md-4 col-form-label text-md-right">
                            Username <b class="text-danger">*</b>
                        </label>
                        <div class="col-md-6">
                            <input type="text" id="username" class="form-control" name="username"
                                placeholder="Username do usuário" required [(ngModel)]="user.username"
                                #username="ngModel" pattern="^[a-zA-Z0-9_.]+$" minlength="4" maxlength="16">
                            <div [hidden]="username.valid || username.pristine"
                                class="error-validation text-danger text-left">
                                <div class="error-validation" *ngIf="!!username.errors?.required">
                                    Este campo é obrigatório!
                                </div>
                                <div class="error-validation" *ngIf="!!username.errors?.pattern">
                                    Nome de usuário inválido!
                                </div>
                                <div class="error-validation" *ngIf="!!username.errors?.minlength">
                                    O username deve ter pelo menos 4 caracteres!
                                </div>
                                <div class="error-validation" *ngIf="!!username.errors?.maxlength">
                                    O username deve ter no máximo 16 caracteres!
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-4 col-form-label text-md-right">
                            Permissões
                        </label>
                        <div class="col-md-6">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" [(ngModel)]="user.is_admin"
                                    id="is-admin" [ngModelOptions]="{standalone: true}">
                                <label class="form-check-label" for="is-admin">
                                    &nbsp;Administrador
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" [(ngModel)]="user.is_demand_manager"
                                    id="is-demand-manager" [ngModelOptions]="{standalone: true}">
                                <label class="form-check-label" for="is-demand-manager">
                                    &nbsp;Gestor de Demandas
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" [(ngModel)]="user.is_project_manager"
                                    id="is-project-manager" [ngModelOptions]="{standalone: true}">
                                <label class="form-check-label" for="is-project-manager">
                                    &nbsp;Gestor de Projetos
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" (click)="updateUser()"
                    [disabled]="!userFormUpdate.form.valid" form="update-user-form">
                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip"
                        title="Os campos com * são obrigatórios!" data-placement="left"
                        *ngIf="!userFormUpdate.form.valid">
                        <b>Salvar Mudanças</b>
                    </span>
                    <span *ngIf="userFormUpdate.form.valid">
                        <b>Salvar Mudanças</b>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>