<div class="modal fade" role="dialog" [id]="id" tabindex="-1" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <ngx-spinner [fullScreen]="false" type="ball-spin-clockwise-fade" bdColor="rgba(240,240,240,0.8)"
                color="#0275d8" name="add-user-spinner">
            </ngx-spinner>
            <div class="modal-header">
                <h4 class="modal-title"><b>Adicionar Usuário</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf="error" class="form-group alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p class="text-center">{{ error.error | json }}</p>
                </div>
                <div class="text-danger text-center form-group">
                    Os campos com asterisco (*) são obrigatórios!
                </div>
                <form #userFormCreate="ngForm" (ngSubmit)="addUser()" [matchValue]="['password', 'passwordConfirm']"
                    id="add-user-form">

                    <div class="form-group row">
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input type="text" matInput placeholder="Nome" id="first_name" required
                                    [(ngModel)]="user.first_name" name="first_name" #first_name="ngModel">
                            </mat-form-field>
                            <div [hidden]="first_name.valid || first_name.pristine"
                                class="error-validation text-danger text-left">
                                Este campo é obrigatório!
                            </div>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input type="text" matInput placeholder="Sobrenome" id="last_name" required
                                    [(ngModel)]="user.last_name" name="last_name" #last_name="ngModel">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input type="email" matInput placeholder="E-mail" id="email" required name="email"
                                    pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9]+$" [(ngModel)]="user.email"
                                    #email="ngModel">
                            </mat-form-field>
                            <div [hidden]="email.valid || email.pristine"
                                class=" error-validation text-danger text-left">
                                <div class="error-validation" *ngIf="!!email.errors?.required">
                                    Este campo é obrigatório!
                                </div>
                                <div class="error-validation" *ngIf="!!email.errors?.pattern">
                                    E-Mail inválido!
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input type="text" matInput placeholder="Username" id="username" name="username" required
                                    [(ngModel)]="user.username" #username="ngModel" pattern="^[a-zA-Z0-9_.]+$"
                                    minlength="4" maxlength="16">
                            </mat-form-field>
                            <div [hidden]="username.valid || username.pristine"
                                class="error-validation text-danger text-left">
                                <div class="error-validation" *ngIf="!!username.errors?.required">
                                    Este campo é obrigatório!
                                </div>
                                <div class="error-validation" *ngIf="!!username.errors?.pattern">
                                    Nome de usuário inválido!
                                </div>
                                <div class="error-validation" *ngIf="!!username.errors?.minlength">
                                    O username deve ter pelo menos 4 caracteres!
                                </div>
                                <div class="error-validation" *ngIf="!!username.errors?.maxlength">
                                    O username deve ter no máximo 16 caracteres!
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input type="password" matInput id="password" name="password"
                                placeholder="Senha" required minlength="8" maxlength="32"
                                [(ngModel)]="user.password" #password="ngModel">
                            </mat-form-field>
                            <div [hidden]="password.valid || password.pristine"
                                class="text-left error-validation text-danger">
                                <div class="error-validation" *ngIf="!!password.errors?.required">
                                    Este campo é obrigatório!
                                </div>
                                <div class="error-validation" *ngIf="!!password.errors?.minlength">
                                    A senha deve ter pelo menos 8 caracteres!
                                </div>
                                <div class="error-validation" *ngIf="!!password.errors?.maxlength">
                                    A senha deve ter no máximo 32 caracteres!
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                                <input type="password" matInput id="passwordConfirm"  name="passwordConfirm"
                                placeholder="Confirmar Senha" required [(ngModel)]="passwordConfirm"
                                #passwordConfirmText="ngModel">
                            </mat-form-field>
                            <div [hidden]="passwordConfirmText.valid || passwordConfirmText.pristine"
                                class="text-left error-validation text-danger">
                                <div class="error-validation" *ngIf="!!passwordConfirmText.errors?.required">
                                    Este campo é obrigatório!
                                </div>
                                <div class="error-validation" *ngIf="!!passwordConfirmText.errors?.matchValueError">
                                    As senhas não são iguais!
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-12 text-left">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" [(ngModel)]="user.is_admin"
                                        id="is-admin" [ngModelOptions]="{standalone: true}">
                                    <span class="form-check-sign">
                                        <span class="check"></span>
                                    </span>
                                    &nbsp;Permissões de Administrador
                                </label>
                            </div>

                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" [(ngModel)]="user.is_demand_manager"
                                        id="is-demand-manager" [ngModelOptions]="{standalone: true}">
                                    <span class="form-check-sign">
                                        <span class="check"></span>
                                    </span>
                                    &nbsp;Permissões de Gestor de Demandas
                                </label>
                            </div>

                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox"
                                        [(ngModel)]="user.is_project_manager" id="is-project-manager"
                                        [ngModelOptions]="{standalone: true}">
                                    <span class="form-check-sign">
                                        <span class="check"></span>
                                    </span>
                                    &nbsp;Permissões de Gestor de Projetos
                                </label>
                            </div>
                        </div>
                    </div>

                </form>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    &nbsp;&nbsp;
                    <button type="submit" class="btn btn-success" (click)="addUser()"
                        [disabled]="!userFormCreate.form.valid" form="add-user-form">
                            Adicionar Usuário
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>