<div class="modal fade" role="dialog" [id]="id" tabindex="-1" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <ngx-spinner [fullScreen]="false" type="ball-spin-clockwise-fade" bdColor="rgba(240,240,240,0.8)"
                color="#0275d8" name="add-demand-spinner">
            </ngx-spinner>
            <div class="modal-header">
                <h4 class="modal-title"><b>Abrir Demanda</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf="error" class="form-group alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p class="text-center">{{ error.error | json }}</p>
                </div>
                <div class="text-danger text-center form-group">
                    Os campos com asterisco (*) são obrigatórios!
                </div>
                <form #demandFormCreate="ngForm" (ngSubmit)="addDemand()" id="add-demand-form">

                    <div class="form-group row">
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                                <input type="text" matInput placeholder="Nome" id="name" required
                                    [(ngModel)]="demand.name" name="name" #name="ngModel">
                            </mat-form-field>
                            <div [hidden]="name.valid || name.pristine" class="error-validation text-danger text-left">
                                Este campo é obrigatório!
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                                <input type="text" matInput placeholder="Requisitante" id="requester" required
                                    [(ngModel)]="demand.requester" name="requester" #requester="ngModel">
                            </mat-form-field>
                            <div [hidden]="requester.valid || requester.pristine"
                                class="error-validation text-danger text-left">
                                Este campo é obrigatório!
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                                <textarea matInput placeholder="Origem" id="origin" required [(ngModel)]="demand.origin"
                                    name="origin" #origin="ngModel" rows="2"></textarea>
                            </mat-form-field>
                            <div [hidden]="origin.valid || origin.pristine"
                                class="error-validation text-danger text-left">
                                Este campo é obrigatório!
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                                <textarea matInput placeholder="Descição" id="description" required [(ngModel)]="demand.description"
                                    name="description" #description="ngModel" rows="4"></textarea>
                            </mat-form-field>
                            <div [hidden]="description.valid || description.pristine"
                                class="error-validation text-danger text-left">
                                Este campo é obrigatório!
                            </div>
                        </div>
                    </div>

                </form>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    &nbsp;&nbsp;
                    <button type="submit" class="btn btn-success" (click)="addDemand()"
                        [disabled]="!demandFormCreate.form.valid" form="add-demand-form">
                        Abrir Demanda
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>